<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>word</key>
        <string>A</string>
        <key>start</key>
        <real>0.000000</real>
    </dict>
    <dict>
        <key>word</key>
        <string>baby</string>
        <key>start</key>
        <real>0.348175</real>
    </dict>
    <dict>
        <key>word</key>
        <string>penguin</string>
        <key>start</key>
        <real>0.576486</real>
    </dict>
    <dict>
        <key>word</key>
        <string>got</string>
        <key>start</key>
        <real>1.638134</real>
    </dict>
    <dict>
        <key>word</key>
        <string>separated</string>
        <key>start</key>
        <real>1.894984</real>
    </dict>
    <dict>
        <key>word</key>
        <string>from</string>
        <key>start</key>
        <real>2.950924</real>
    </dict>
    <dict>
        <key>word</key>
        <string>his</string>
        <key>start</key>
        <real>3.207775</real>
    </dict>
    <dict>
        <key>word</key>
        <string>family</string>
        <key>start</key>
        <real>3.453209</real>
    </dict>
    <dict>
        <key>word</key>
        <string>during</string>
        <key>start</key>
        <real>4.269423</real>
    </dict>
    <dict>
        <key>word</key>
        <string>a</string>
        <key>start</key>
        <real>4.680383</real>
    </dict>
    <dict>
        <key>word</key>
        <string>severe</string>
        <key>start</key>
        <real>5.108467</real>
    </dict>
    <dict>
        <key>word</key>
        <string>snowstorm,</string>
        <key>start</key>
        <real>5.559382</real>
    </dict>
    <dict>
        <key>word</key>
        <string>and</string>
        <key>start</key>
        <real>7.551398</real>
    </dict>
    <dict>
        <key>word</key>
        <string>was</string>
        <key>start</key>
        <real>7.779710</real>
    </dict>
    <dict>
        <key>word</key>
        <string>all</string>
        <key>start</key>
        <real>8.013729</real>
    </dict>
    <dict>
        <key>word</key>
        <string>alone</string>
        <key>start</key>
        <real>8.441813</real>
    </dict>
    <dict>
        <key>word</key>
        <string>on</string>
        <key>start</key>
        <real>9.332227</real>
    </dict>
    <dict>
        <key>word</key>
        <string>a</string>
        <key>start</key>
        <real>9.663278</real>
    </dict>
    <dict>
        <key>word</key>
        <string>tiny</string>
        <key>start</key>
        <real>9.823096</real>
    </dict>
    <dict>
        <key>word</key>
        <string>iceberg.</string>
        <key>start</key>
        <real>10.336797</real>
    </dict>
    <dict>
        <key>word</key>
        <string>Everyday,</string>
        <key>start</key>
        <real>12.454385</real>
    </dict>
    <dict>
        <key>word</key>
        <string>he</string>
        <key>start</key>
        <real>13.949824</real>
    </dict>
    <dict>
        <key>word</key>
        <string>would</string>
        <key>start</key>
        <real>14.149597</real>
    </dict>
    <dict>
        <key>word</key>
        <string>walk</string>
        <key>start</key>
        <real>14.343661</real>
    </dict>
    <dict>
        <key>word</key>
        <string>around</string>
        <key>start</key>
        <real>14.657590</real>
    </dict>
    <dict>
        <key>word</key>
        <string>on</string>
        <key>start</key>
        <real>15.108505</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>15.359647</real>
    </dict>
    <dict>
        <key>word</key>
        <string>iceberg,</string>
        <key>start</key>
        <real>15.616497</real>
    </dict>
    <dict>
        <key>word</key>
        <string>wondering</string>
        <key>start</key>
        <real>16.917872</real>
    </dict>
    <dict>
        <key>word</key>
        <string>if</string>
        <key>start</key>
        <real>17.591391</real>
    </dict>
    <dict>
        <key>word</key>
        <string>he</string>
        <key>start</key>
        <real>17.836825</real>
    </dict>
    <dict>
        <key>word</key>
        <string>should</string>
        <key>start</key>
        <real>18.162169</real>
    </dict>
    <dict>
        <key>word</key>
        <string>go</string>
        <key>start</key>
        <real>18.498928</real>
    </dict>
    <dict>
        <key>word</key>
        <string>find</string>
        <key>start</key>
        <real>18.630207</real>
    </dict>
    <dict>
        <key>word</key>
        <string>his</string>
        <key>start</key>
        <real>18.812856</real>
    </dict>
    <dict>
        <key>word</key>
        <string>family,</string>
        <key>start</key>
        <real>19.046876</real>
    </dict>
    <dict>
        <key>word</key>
        <string>but</string>
        <key>start</key>
        <real>20.707841</real>
    </dict>
    <dict>
        <key>word</key>
        <string>he</string>
        <key>start</key>
        <real>20.850535</real>
    </dict>
    <dict>
        <key>word</key>
        <string>was</string>
        <key>start</key>
        <real>20.970399</real>
    </dict>
    <dict>
        <key>word</key>
        <string>too</string>
        <key>start</key>
        <real>21.284327</real>
    </dict>
    <dict>
        <key>word</key>
        <string>scared</string>
        <key>start</key>
        <real>21.655333</real>
    </dict>
    <dict>
        <key>word</key>
        <string>to</string>
        <key>start</key>
        <real>22.174741</real>
    </dict>
    <dict>
        <key>word</key>
        <string>go</string>
        <key>start</key>
        <real>22.403053</real>
    </dict>
    <dict>
        <key>word</key>
        <string>alone.</string>
        <key>start</key>
        <real>22.762643</real>
    </dict>
</array>
</plist>
