<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>word</key>
        <string>Suddenly,</string>
        <key>start</key>
        <real>0.000000</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>1.767721</real>
    </dict>
    <dict>
        <key>word</key>
        <string>shark</string>
        <key>start</key>
        <real>2.106735</real>
    </dict>
    <dict>
        <key>word</key>
        <string>hit</string>
        <key>start</key>
        <real>2.457858</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>2.833196</real>
    </dict>
    <dict>
        <key>word</key>
        <string>iceberg!</string>
        <key>start</key>
        <real>3.002703</real>
    </dict>
    <dict>
        <key>word</key>
        <string>Poor</string>
        <key>start</key>
        <real>4.685670</real>
    </dict>
    <dict>
        <key>word</key>
        <string>little</string>
        <key>start</key>
        <real>5.145762</real>
    </dict>
    <dict>
        <key>word</key>
        <string>penguin</string>
        <key>start</key>
        <real>5.472669</real>
    </dict>
    <dict>
        <key>word</key>
        <string>was</string>
        <key>start</key>
        <real>5.775361</real>
    </dict>
    <dict>
        <key>word</key>
        <string>so</string>
        <key>start</key>
        <real>6.138591</real>
    </dict>
    <dict>
        <key>word</key>
        <string>scared!</string>
        <key>start</key>
        <real>6.756083</real>
    </dict>
</array>
</plist>
