<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>word</key>
        <string>The</string>
        <key>start</key>
        <real>0.000000</real>
    </dict>
    <dict>
        <key>word</key>
        <string>penguin</string>
        <key>start</key>
        <real>1.624479</real>
    </dict>
    <dict>
        <key>word</key>
        <string>was</string>
        <key>start</key>
        <real>2.216936</real>
    </dict>
    <dict>
        <key>word</key>
        <string>very</string>
        <key>start</key>
        <real>2.637390</real>
    </dict>
    <dict>
        <key>word</key>
        <string>thankful</string>
        <key>start</key>
        <real>3.191624</real>
    </dict>
    <dict>
        <key>word</key>
        <string>that</string>
        <key>start</key>
        <real>3.860527</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>4.185423</real>
    </dict>
    <dict>
        <key>word</key>
        <string>shark</string>
        <key>start</key>
        <real>4.395650</real>
    </dict>
    <dict>
        <key>word</key>
        <string>saved</string>
        <key>start</key>
        <real>4.720546</real>
    </dict>
    <dict>
        <key>word</key>
        <string>him!</string>
        <key>start</key>
        <real>5.140999</real>
    </dict>
    <dict>
        <key>word</key>
        <string>I'm</string>
        <key>start</key>
        <real>6.765478</real>
    </dict>
    <dict>
        <key>word</key>
        <string>sorry</string>
        <key>start</key>
        <real>7.052151</real>
    </dict>
    <dict>
        <key>word</key>
        <string>I</string>
        <key>start</key>
        <real>7.529939</real>
    </dict>
    <dict>
        <key>word</key>
        <string>scared</string>
        <key>start</key>
        <real>7.778389</real>
    </dict>
    <dict>
        <key>word</key>
        <string>you,</string>
        <key>start</key>
        <real>8.179731</real>
    </dict>
    <dict>
        <key>word</key>
        <string>said</string>
        <key>start</key>
        <real>8.600330</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>8.822694</real>
    </dict>
    <dict>
        <key>word</key>
        <string>shark.</string>
        <key>start</key>
        <real>9.049892</real>
    </dict>
    <dict>
        <key>word</key>
        <string>I'm</string>
        <key>start</key>
        <real>10.211979</real>
    </dict>
    <dict>
        <key>word</key>
        <string>nearsighted</string>
        <key>start</key>
        <real>10.442606</real>
    </dict>
    <dict>
        <key>word</key>
        <string>and</string>
        <key>start</key>
        <real>11.240931</real>
    </dict>
    <dict>
        <key>word</key>
        <string>I</string>
        <key>start</key>
        <real>11.489299</real>
    </dict>
    <dict>
        <key>word</key>
        <string>can't</string>
        <key>start</key>
        <real>11.581501</real>
    </dict>
    <dict>
        <key>word</key>
        <string>see</string>
        <key>start</key>
        <real>11.767653</real>
    </dict>
    <dict>
        <key>word</key>
        <string>things</string>
        <key>start</key>
        <real>11.912278</real>
    </dict>
    <dict>
        <key>word</key>
        <string>clearly.</string>
        <key>start</key>
        <real>12.179044</real>
    </dict>
</array>
</plist>
