<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>word</key>
        <string>With</string>
        <key>start</key>
        <real>0.000000</real>
    </dict>
    <dict>
        <key>word</key>
        <string>new</string>
        <key>start</key>
        <real>0.427515</real>
    </dict>
    <dict>
        <key>word</key>
        <string>friends,</string>
        <key>start</key>
        <real>0.902941</real>
    </dict>
    <dict>
        <key>word</key>
        <string>they</string>
        <key>start</key>
        <real>1.791141</real>
    </dict>
    <dict>
        <key>word</key>
        <string>will</string>
        <key>start</key>
        <real>1.982786</real>
    </dict>
    <dict>
        <key>word</key>
        <string>now</string>
        <key>start</key>
        <real>2.222341</real>
    </dict>
    <dict>
        <key>word</key>
        <string>set</string>
        <key>start</key>
        <real>2.605631</real>
    </dict>
    <dict>
        <key>word</key>
        <string>off</string>
        <key>start</key>
        <real>2.823074</real>
    </dict>
    <dict>
        <key>word</key>
        <string>on</string>
        <key>start</key>
        <real>3.250589</real>
    </dict>
    <dict>
        <key>word</key>
        <string>a</string>
        <key>start</key>
        <real>3.372210</real>
    </dict>
    <dict>
        <key>word</key>
        <string>brand</string>
        <key>start</key>
        <real>3.578596</real>
    </dict>
    <dict>
        <key>word</key>
        <string>new</string>
        <key>start</key>
        <real>3.855007</real>
    </dict>
    <dict>
        <key>word</key>
        <string>adventure!</string>
        <key>start</key>
        <real>4.065079</real>
    </dict>
</array>
</plist>
