<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>word</key>
        <string>The</string>
        <key>start</key>
        <real>0.000000</real>
    </dict>
    <dict>
        <key>word</key>
        <string>penguin</string>
        <key>start</key>
        <real>0.270465</real>
    </dict>
    <dict>
        <key>word</key>
        <string>told</string>
        <key>start</key>
        <real>0.847456</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>0.980886</real>
    </dict>
    <dict>
        <key>word</key>
        <string>shark</string>
        <key>start</key>
        <real>1.233320</real>
    </dict>
    <dict>
        <key>word</key>
        <string>how</string>
        <key>start</key>
        <real>2.077170</real>
    </dict>
    <dict>
        <key>word</key>
        <string>he</string>
        <key>start</key>
        <real>2.506307</real>
    </dict>
    <dict>
        <key>word</key>
        <string>lost</string>
        <key>start</key>
        <real>2.636131</real>
    </dict>
    <dict>
        <key>word</key>
        <string>his</string>
        <key>start</key>
        <real>3.086905</real>
    </dict>
    <dict>
        <key>word</key>
        <string>family.</string>
        <key>start</key>
        <real>3.357370</real>
    </dict>
    <dict>
        <key>word</key>
        <string>And</string>
        <key>start</key>
        <real>4.579871</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>4.781818</real>
    </dict>
    <dict>
        <key>word</key>
        <string>shark</string>
        <key>start</key>
        <real>4.911641</real>
    </dict>
    <dict>
        <key>word</key>
        <string>decided</string>
        <key>start</key>
        <real>5.394872</real>
    </dict>
    <dict>
        <key>word</key>
        <string>to</string>
        <key>start</key>
        <real>6.080049</real>
    </dict>
    <dict>
        <key>word</key>
        <string>help</string>
        <key>start</key>
        <real>6.390182</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>6.646223</real>
    </dict>
    <dict>
        <key>word</key>
        <string>penguin</string>
        <key>start</key>
        <real>6.833745</real>
    </dict>
    <dict>
        <key>word</key>
        <string>find</string>
        <key>start</key>
        <real>7.500891</real>
    </dict>
    <dict>
        <key>word</key>
        <string>his</string>
        <key>start</key>
        <real>7.811024</real>
    </dict>
    <dict>
        <key>word</key>
        <string>family!</string>
        <key>start</key>
        <real>8.031002</real>
    </dict>
</array>
</plist>
