<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>word</key>
        <string>It</string>
        <key>start</key>
        <real>0.000000</real>
    </dict>
    <dict>
        <key>word</key>
        <string>accidently</string>
        <key>start</key>
        <real>0.121241</real>
    </dict>
    <dict>
        <key>word</key>
        <string>fell</string>
        <key>start</key>
        <real>1.151787</real>
    </dict>
    <dict>
        <key>word</key>
        <string>into</string>
        <key>start</key>
        <real>1.475095</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>1.929748</real>
    </dict>
    <dict>
        <key>word</key>
        <string>water!</string>
        <key>start</key>
        <real>2.152022</real>
    </dict>
    <dict>
        <key>word</key>
        <string>Oh</string>
        <key>start</key>
        <real>3.334119</real>
    </dict>
    <dict>
        <key>word</key>
        <string>no!</string>
        <key>start</key>
        <real>3.677634</real>
    </dict>
    <dict>
        <key>word</key>
        <string>But</string>
        <key>start</key>
        <real>5.102213</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>5.344694</real>
    </dict>
    <dict>
        <key>word</key>
        <string>shark</string>
        <key>start</key>
        <real>5.597279</real>
    </dict>
    <dict>
        <key>word</key>
        <string>was</string>
        <key>start</key>
        <real>5.940794</real>
    </dict>
    <dict>
        <key>word</key>
        <string>very</string>
        <key>start</key>
        <real>6.243896</real>
    </dict>
    <dict>
        <key>word</key>
        <string>kind,</string>
        <key>start</key>
        <real>6.577308</real>
    </dict>
    <dict>
        <key>word</key>
        <string>and</string>
        <key>start</key>
        <real>7.415889</real>
    </dict>
    <dict>
        <key>word</key>
        <string>wanted</string>
        <key>start</key>
        <real>7.628060</real>
    </dict>
    <dict>
        <key>word</key>
        <string>to</string>
        <key>start</key>
        <real>8.052403</real>
    </dict>
    <dict>
        <key>word</key>
        <string>help.</string>
        <key>start</key>
        <real>8.193850</real>
    </dict>
</array>
</plist>
