<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>word</key>
        <string>One</string>
        <key>start</key>
        <real>0.000000</real>
    </dict>
    <dict>
        <key>word</key>
        <string>day,</string>
        <key>start</key>
        <real>0.936465</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>1.509810</real>
    </dict>
    <dict>
        <key>word</key>
        <string>penguin</string>
        <key>start</key>
        <real>2.044933</real>
    </dict>
    <dict>
        <key>word</key>
        <string>was</string>
        <key>start</key>
        <real>2.599167</real>
    </dict>
    <dict>
        <key>word</key>
        <string>standing</string>
        <key>start</key>
        <real>2.885840</real>
    </dict>
    <dict>
        <key>word</key>
        <string>on</string>
        <key>start</key>
        <real>3.420962</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>3.606688</real>
    </dict>
    <dict>
        <key>word</key>
        <string>edge</string>
        <key>start</key>
        <real>3.758340</real>
    </dict>
    <dict>
        <key>word</key>
        <string>of</string>
        <key>start</key>
        <real>3.956148</real>
    </dict>
    <dict>
        <key>word</key>
        <string>the</string>
        <key>start</key>
        <real>4.134174</real>
    </dict>
    <dict>
        <key>word</key>
        <string>iceberg,</string>
        <key>start</key>
        <real>4.318794</real>
    </dict>
    <dict>
        <key>word</key>
        <string>watching</string>
        <key>start</key>
        <real>5.927628</real>
    </dict>
    <dict>
        <key>word</key>
        <string>some</string>
        <key>start</key>
        <real>6.178184</real>
    </dict>
    <dict>
        <key>word</key>
        <string>little</string>
        <key>start</key>
        <real>6.455114</real>
    </dict>
    <dict>
        <key>word</key>
        <string>fish</string>
        <key>start</key>
        <real>6.883697</real>
    </dict>
    <dict>
        <key>word</key>
        <string>swim</string>
        <key>start</key>
        <real>7.160627</real>
    </dict>
    <dict>
        <key>word</key>
        <string>by,</string>
        <key>start</key>
        <real>7.576023</real>
    </dict>
    <dict>
        <key>word</key>
        <string>when</string>
        <key>start</key>
        <real>9.033204</real>
    </dict>
    <dict>
        <key>word</key>
        <string>he</string>
        <key>start</key>
        <real>9.395850</real>
    </dict>
    <dict>
        <key>word</key>
        <string>noticed</string>
        <key>start</key>
        <real>9.587766</real>
    </dict>
    <dict>
        <key>word</key>
        <string>something</string>
        <key>start</key>
        <real>9.928728</real>
    </dict>
    <dict>
        <key>word</key>
        <string>different.</string>
        <key>start</key>
        <real>10.332308</real>
    </dict>
    <dict>
        <key>word</key>
        <string>It</string>
        <key>start</key>
        <real>12.469300</real>
    </dict>
    <dict>
        <key>word</key>
        <string>Was</string>
        <key>start</key>
        <real>12.720710</real>
    </dict>
    <dict>
        <key>word</key>
        <string>A</string>
        <key>start</key>
        <real>12.804559</real>
    </dict>
    <dict>
        <key>word</key>
        <string>Shark!</string>
        <key>start</key>
        <real>12.964829</real>
    </dict>
</array>
</plist>
